img.startPage {
  position: relative;
  left: 50%;
  top: 0;
  margin-top: 100px;
  margin-left: -350px;
  pointer-events: none;
  border: 1.5px solid transparent;
  outline: 4px solid #C3C3C3;
  border-radius: 4px;
  width: 700px !important;
  height: 450px !important;
}
body {
  background-image: url(https://parking-master.github.io/Parking-Master/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#header-style {
  text-align: center;
  font-size: 2em;
  margin-top: 15px;
}